<!DOCTYPE html>
<html>
    {{template "defaulthead"}}
    <body>
        {{template "header"}}
        <audio id="sound" src="/public/files/mp3/maskoffnotification2.5.mp3" autostart="false"></audio>
        <a onclick="playSound();"> Play</a>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <pre id="chat"></pre>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <input placeholder="say something" id="text" type="text">
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <input placeholder="Name" id="user" type="text">
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <input placeholder="welcome" id="channel" type="text">
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <div id="Home" class="spacer"></div>
        {{template "footer"}}
        <!--div.super-spacer-->
        <script type="text/javascript">
            function playSound() {
                var sound = document.getElementById("sound");
                sound.play();
            }
            var chat = document.getElementById("chat");
            var win = new Audio('/public/files/mp3/maskoffnotification2.5.mp3');
            var user = $("#user");
            var text = $("#text");
            var channel = $("#channel");
            var id = String(Math.floor(Math.random() * 10)) + String(Math.floor(Math.random() * 10)) + String(Math.floor(Math.random() * 10)) + String(Math.floor(Math.random() * 10)) + String(Math.floor(Math.random() * 10)) + String(Math.floor(Math.random() * 10)) + String(Math.floor(Math.random() * 10));
            var now = function () {
                var iso = new Date().toISOString();
                return iso.split("T")[1].split(".")[0];
            };
            var makeMessage = function(str){
                return now() + " " + str + "\n";
            };
            function getWS() {
                var socket = new WebSocket("ws://" + window.location.host + "/wschat");
                socket.onmessage = function (msg) {
                    obj = JSON.parse(msg.data);
                    if (!channel.val().localeCompare(obj.chan)){
                        chat.innerText += makeMessage(obj.msg);
                        playSound();
                    }
                };
                return socket;
            }
            var ws = getWS()
            text.keydown(function (e) {
                if (e.keyCode === 13 && text.val().localeCompare("")) {
                    if (user.val().localeCompare("")) {
                        var obj = JSON.stringify({"msg":"<" + id + "><" + user.val() + "> " + text.val(), "chan": channel.val()})
                        ws.send(obj);
                        text.val("");
                        return;
                    }
                    chat.innerText += makeMessage("Need a user to send a message!");
                }
            });
        </script>
    </body>
</html>