<!DOCTYPE html>
<html>
    {{template "defaulthead"}}
    <body>
        {{template "header"}}
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                        <canvas id="canvas"></canvas>
                    <div id="desc">
                        Initializing
                    </div>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <button id="stream">
                        Stream
                    </button>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
        </div>
        {{template "footer"}}
        <!--div.super-spacer-->
        <script type="text/javascript">
            var spy = $("#spy"), desc = $("#desc"), sbut = $("#stream"), canvas = $("#canvas"), ctx = canvas.getContext("2d");//, stream = false;
            function getWS() {
                var socket = new WebSocket("ws://" + window.location.host + "/wsspy");
                socket.onclose = function(){
                    desc.contents().remove();
                    desc.append("Disonnected");
                };
                socket.onopen = function(){
                    desc.contents().remove();
                    desc.append("Connected");
                };
                socket.onmessage = function(msg){
                    //obj = JSON.parse(msg.data);
                    console.log("ATTT");
                    spy.attr("src", "data:image/png;base64," + msg.data);
                };
                return socket;
            }
            var ws = getWS();
            /*sbut.click(function() {
                stream = true
                ws.send(JSON.stringify({"pi":false,"msg":"another"}));
            });
            setInterval(function() {
                if(stream)
                    ws.send(JSON.stringify({"pi":false,"msg":"another"}));
            }, 5000);*/
        </script>
    </body>
</html>