<!DOCTYPE html>
<html>
    {{template "defaulthead"}}
    <body>
        {{template "header"}}
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                        <canvas id="canvas"></canvas>
                    <div id="desc">
                        Initializing
                    </div>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <button id="stream">
                        Stream
                    </button>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
        </div>
        {{template "footer"}}
        <!--div.super-spacer-->
        <script type="text/javascript">
            var strm = false, spy = $("#spy"), desc = $("#desc"), stream = $("#stream"), canvas = $("#canvas"), ctx = canvas.get(0).getContext("2d"), background = new Image();//, stream = false;
            canvas.width = 934;
            canvas.height = 622;
            function getWS() {
                var socket = new WebSocket("ws://" + window.location.host + "/wsspy");
                socket.onclose = function(){
                    desc.contents().remove();
                    desc.append("Disonnected");
                };
                socket.onopen = function(){
                    desc.contents().remove();
                    desc.append("Connected");
                };
                socket.onmessage = function(msg){
                    var obj = JSON.parse(msg.data);
                    if (obj.pi) {
                        background.src = "http://www.therileyjohnson.com/public/files/images/cap.jpg";
                        ctx.drawImage(background, 0, 0);
                    }
                };
                return socket;
            }
            var ws = getWS();
            stream.click(function() {
                strm = !strm;
                if (strm) {
                    ws.send(JSON.stringify({"pi":false, "message":""}));
                    stream.css("background-color", "green")
                } else {
                    stream.css("background-color", "red")
                }
            })
        </script>
    </body>
</html>