<!DOCTYPE html>
<html>
    {{template "defaulthead"}}
    <body>
        {{template "header"}}
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <img id="spy" alt="No Image" src=""/>
                    <div id="desc">
                        Initializing
                    </div>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
        </div>
        {{template "footer"}}
        <!--div.super-spacer-->
        <script type="text/javascript">
            var spy = $("#spy"), desc = $("#desc");
            function getWS() {
                var socket = new WebSocket("ws://" + window.location.host + "/wsspy");
                socket.onclose(function(){
                    desc.contents().remove();
                    desc.append("Disonnected");
                });
                socket.onopen(function(){
                    desc.contents().remove();
                    desc.append("Connected");
                });
                socket.onmessage(function(msg){
                    obj = JSON.parse(msg.data);
                    if(obj.pi)
                        spy.attr("src", "data:image/png;base64," + obj.msg);
                });
                return socket;
            }
        </script>
    </body>
</html>